$color1: white;
$color2: black;
* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Anton', sans-serif;
}

h2 {
    font-family: 'Anton', sans-serif;
}

.nav {
    display: flex;
    justify-items: center;
    align-items: center;
}

.img-bloques {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.bloques:hover {
    width: 22%;
    height: 550px;
}

p {
    font-family: 'Anton', sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    color: $color2;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 5px 0 5px 0;
}

.bloques {
    width: 20%;
    min-height: 525px;
    border: 4px solid black;
    color: $color2;
    background: transparent;
    margin: 5px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 25px;
    border-radius: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 50px 0;
}

.footer {
    background: rgb(0, 42, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 85px;
}

.spanF {
    font-size: 13px;
    color: white;
}

.imgF {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.Monedita {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation-name: Monedita;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0, -0.19, .29, .99);
}

@keyframes Monedita {
    0% {
        bottom: 0;
        left: 0;
    }
    100% {
        bottom: 15px;
        left: 0;
    }
}

@media screen and (max-width:500px) {
    .bloques {
        width: 80%;
        flex-wrap: wrap;
    }
    .bloques:hover {
        width: 100%;
        height: 550px;
    }
}

@media (max-width:768px) {
    .bloques {
        width: 80%;
        flex-wrap: wrap;
    }
    // me gustaria agregarle un hover al responsive pero no me gusta como quedan, y no me sale como quiero
    .bloques:hover {
        width: 100%;
        height: 550px;
    }
}